@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 id="welcome" class="display-4">Welcome to <b>Jokes API</b></h1>
    <h4>An app for you and to save all your favorite jokes</h4>
    <img src="~/Images/1zvw_ahkc_210729.jpg" alt="Joker playing card" id="playing-card">
</div>
