@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 id="privacy-title">@ViewData["Title"]</h1>
<div id="privary-frame">
<img id="privacy-joke" src="~/Images/privacy-joke.jpg" alt="Man asks what the priacy policy is before writting on white board"/>
</div>