html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#playing-card{
    max-height: 70vh;
}
#welcome{
    padding:0.5em;
}
#playing-card-icon{
    max-height: 2em;
}