html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#playing-card{
    max-height: 70vh;
    max-width:80vw;
}
#welcome{
    padding:0.5em;
}
#playing-card-icon{
    max-height: 2em;
}

.navbar-custom .navbar-nav .nav-item .nav-link span {
    color:rgb(1,103,143);
}
.navbar-custom .navbar-nav .nav-item .nav-link span:hover {
    color: rgb(246,158,50);
}
input {
    margin-bottom: 0.8em;
}
#create-b {
    margin-bottom: -0.5rem;
}
#joke-option-section{
    text-align:end;
}
#privary-frame, #access-denied-frame {
    display: flex;
    justify-content: center;
}
#privacy-joke, #access-denied-image {
    width: 80vw;
}
#privacy-title {
    margin-bottom: 2em;
}

#access-denied-title {
    margin-bottom: 1em;
}
#not-auth{
    color: red;
    font-weight:bold;
}
@media (max-width: 330px) {
    h1 b::before {
        content: "\A";
        white-space: pre;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 576px){
    .nav-options:hover {
        -webkit-transform: scale(1.2);
    }
    #privacy-joke, #access-denied-image {
        width: 55vw;
    }
}
